@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

body{
    display: grid;
    grid-template-rows: calc(100px + 50vh) 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "top" "bottom";
    font-family: "Ropa Sans";
    /* background-color: #222233; */
}

p{
    font-size: calc(20px + 0.8vw);
    /* color: #AACCFF; */
    opacity: 87%;
}

#top-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: top;
}

#title-text{
    font-size: calc(40px + 0.8vw);
    margin: 1px;
}

#bottom-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: bottom;
}

.nav-button{
    background-color: #ededed;
    border-color: black;
    border: 1px solid;
    /* color: #121212;
    opacity: 87%; */
    font-family: "Ropa Sans";
    font-size: calc(20px + 0.8vw);
    letter-spacing: 0.05rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: calc(100px + 0.8vw);
}

button:hover{
    background-color: #cbcbcb;
}
